@model SazeNegar.Web.ViewModels.About_usViewModel

@{
    Layout = "~/Views/Shared/_Layout_About_us.cshtml";
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="s-titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>درباره ما</h2>
                <span>ما را بشناسید</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/Home/Index">خانه</a></li>
                        <li>درباره ما</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- Header Container / End -->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="container">
        <div class="row">
            <!-- Info Column -->
            <div class="info-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="a-header">
                        <div class="sec-title">
                            <div class="devider"><span></span></div>
                            <h2>درباره ما</h2>
                            <div class="text">@Model.About_usHeader[0].Title</div>
                        </div>
                        <div class="text-box">
                            <p>
                                @Html.Raw(@Model.About_usHeader[0].Description)
                            </p>
                        </div>
                    </div>

                    <div class="row features">
                        @foreach (var item in Model.About_us)
                        {
                            <div class="feature-block-two col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-box">
                                    <span class="icon flaticon-analytics"></span>
                                    <h4>@item.Title</h4>
                                    <div class="text">
                                        @Html.Raw(@item.Description)
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <!-- image Column -->
            <div class="image-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box wow fadeInRight">
                        <figure class="image">
                            <img src="~/Files/StaticContentImages/Image/@Model.About_usPic[0].Image" data-src="~/Files/StaticContentImages/Image/@Model.About_usPic[0].Image" alt="">
                        </figure>
                        <div class="contact-info">
                            <i class="icon fa fa-phone"></i>
                            <a href="tel:@Model.About_usPic[0].ShortDescription" class="number">@Model.About_usPic[0].ShortDescription</a>
                        </div>
                    </div>
                    <div class="image-box wow fadeInRight">
                        <figure class="image">
                            <img src="~/Files/StaticContentImages/Image/@Model.About_usPic[1].Image" data-src="~/Files/StaticContentImages/Image/@Model.About_usPic[1].Image" alt="">
                        </figure>
                        <div class="contact-info">
                            <i class="icon fa fa-phone"></i>
                            <a href="tel:@Model.About_usPic[1].ShortDescription" class="number">@Model.About_usPic[1].ShortDescription</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Why Choose Us -->
<!-- Flip banner -->
<a href="/Cars/Index" class="flip-banner parallax" data-background="../../Files/StaticContentImages/Image/@Model.About_usBanner[0].Image"
       data-color="#d37912" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
        <div class="flip-banner-content">
            <h2 class="flip-visible">@Html.Raw(Model.About_usBanner[0].Title)</h2>
            <h2 class="flip-hidden">@Html.Raw(@Model.About_usBanner[0].ShortDescription) <i class="sl sl-icon-arrow-left"></i></h2>
        </div>
    </a>
<!-- Flip banner / End -->