@model List<SazeNegar.Core.Models.StaticContentDetail>

<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

    <!-- Box Headline -->
    <h3 class="headline-box">به دنبال چه چیزی می گردید؟</h3>

    <!-- Content -->
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/38.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                        </div>
                    </div>

                    <h3>@Model[3].Title</h3>
                    <p>
                        @Model[3].ShortDescription
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/39.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                        </div>
                    </div>

                    <h3>@Model[2].Title</h3>
                    <p>
                        @Model[2].ShortDescription
                    </p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/36.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                        </div>
                    </div>

                    <h3>@Model[1].Title</h3>
                    <p>
                        @Model[1].ShortDescription
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/37.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                        </div>
                    </div>

                    <h3>@Model[0].Title</h3>
                    <p>
                        @Model[0].ShortDescription
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Fullwidth Section / End -->
