@model SazeNegar.Core.Models.Cars

<!-- Titlebar
    ================================================== -->
<div id="titlebar" class="s-titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>خودرو</h2>
                <span>مشخصات خودرو</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>خودرو</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <a href="cars.html" class="back-to-listings"></a>
                <div class="property-title">
                    <h2>@Model.Brand @*<span class="property-badge">فروشی</span>*@</h2>

                </div>

                <div class="property-pricing">
                    <div>@Model.Price تومان</div>
                    <!-- <div class="sub-price">770 تومان / متر مربع</div> -->
                </div>


            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row margin-bottom-50">
        <div class="col-md-12">

            <!-- Slider -->
            <div class="property-slider default">
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop1" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop1" class="item mfp-gallery"></a>
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop2" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop2" class="item mfp-gallery"></a>
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop3" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop3" class="item mfp-gallery"></a>
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop4" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop4" class="item mfp-gallery"></a>
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop5" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop5" class="item mfp-gallery"></a>
                <a href="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop6" data-background-image="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageTop6" class="item mfp-gallery"></a>
            </div>

            <!-- Slider Thumbs -->
            <div class="property-slider-nav">
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav1" alt=""></div>
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav2" alt=""></div>
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav3" alt=""></div>
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav4" alt=""></div>
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav5" alt=""></div>
                <div class="item"><img src="../../Files/CarsInfoImages/Image/@Model.CarsInfo.ImageNav6" alt=""></div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <!-- Property Description -->
        <div class="col-lg-8 col-md-7 sp-content">
            <div class="property-description">

                <!-- Main Features -->
                <ul class="property-main-features">
                    <li>دنده <span>@Model.Gear</span></li>
                    <li>درها <span>@Model.CarsInfo.Doors</span></li>
                    <li>ترمز <span>@Model.CarsInfo.Break</span></li>
                    <li>نویگشین <span>@Model.Navigation</span></li>
                </ul>


                <!-- Description -->
                <h3 class="desc-headline">توضیحات</h3>
                <div class="show-more">
                    @Model.CarsInfo.Explanation

                    <a href="#" class="show-more-button">بیشتر <i class="fa fa-angle-down"></i></a>
                </div>

                <!-- Details -->
                <h3 class="desc-headline">جزئیات</h3>
                <ul class="property-features margin-top-0">
                    <li>سانروف: <span>@Model.CarsInfo.DetailsSunroof</span></li>
                    <li>تنظیم ارتفاع نور: <span>@Model.CarsInfo.DetailsHeight</span></li>
                    <li>تنظیم برقی آینه راننده: <span>@Model.CarsInfo.DetailsMirror</span></li>
                    <li>سنسور فاصله عقب: <span>@Model.CarsInfo.DetailsSencor</span></li>
                    <li>خروجی برق 12 ولت: <span>@Model.CarsInfo.DetailsElectricity</span></li>
                    <li>چراغ نقشه خوانی: <span>@Model.CarsInfo.DetailsMap</span></li>
                    <li>keyless: <span>@Model.CarsInfo.DetailsKeyless</span></li>
                    <li>چراغ راهنمای آینه: <span>@Model.CarsInfo.DetailsGuide</span></li>
                </ul>


                <!-- Features -->
                <h3 class="desc-headline">ویژگی ها</h3>
                <ul class="property-features checkboxes margin-top-0">
                    <li>@Model.CarsInfo.FeaturesComputer</li>
                    <li>@Model.CarsInfo.FeaturesRightKey</li>
                    <li>@Model.CarsInfo.FeaturesLeftKey</li>
                    <li>@Model.CarsInfo.FeaturesTempreture</li>
                    <li>@Model.CarsInfo.FeaturesCruse</li>
                    <li>@Model.CarsInfo.FeaturesJack</li>
                    <li>@Model.CarsInfo.FeaturesCurtain</li>
                    <li>@Model.CarsInfo.FeaturesHeater</li>
                </ul>


                <!-- Floorplans -->
                <h3 class="desc-headline no-border">مشخصات فنی </h3>
                <!-- Accordion -->
                <div class="style-1 fp-accordion">
                    <div class="accordion">

                        <h3>سیستم موتر <span>@Model.CarsInfo.TechnicalEngineShort</span> <i class="fa fa-angle-down"></i> </h3>
                        <div>

                            <p>
                                @Model.CarsInfo.TechnicalEngineDetails
                            </p>
                        </div>

                        <h3>سیستم ترمز <span>@Model.CarsInfo.TechnicalBreakShort</span> <i class="fa fa-angle-down"></i></h3>
                        <div>

                            <p>
                                @Model.CarsInfo.TechnicalBreakDetails
                            </p>

                        </div>

                        <h3>سیستم تهویه <span>@Model.CarsInfo.TechnicalVentilationShort</span> <i class="fa fa-angle-down"></i></h3>
                        <div>
                            <p>
                                @Model.CarsInfo.TechnicalVentilationDetails
                            </p>
                        </div>

                    </div>
                </div>





                <!-- Similar Listings Container -->
                <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">موارد مشابه</h3>

                <!-- Layout Switcher -->

                <div class="layout-switcher hidden"><a href="#" class="list"><i class="fa fa-th-list"></i></a></div>
                <div class="listings-container list-layout">

                    @foreach (var item in ViewBag.CarList)
                    {
                        <!-- Item -->
                        <div class="item">
                            <div class="listing-item compact">

                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        @if (item.Special != null)
                                        {
                                            <span class="featured">ویژه</span>
                                        }
                                        @*<span>فروشی</span>*@
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-compact-title">
                                            @item.Brand.Brand
                                            <i>
                                                @item.Price
                                                تومان
                                            </i>
                                        </span>

                                        <ul class="listing-hidden-content">
                                            <li>دنده<span>@item.Gear</span></li>
                                            <li>نویگشین <span>@item.Navigation</span></li>
                                            <li>سانروف <span>@item.Sunroof</span></li>
                                        </ul>
                                    </div>

                                    <img src="../../Files/CarsImages/Image/@item.Image" alt="">
                                </a>

                            </div>
                        </div>
                        <!-- Item / End -->
                    }

                </div>
                <!-- Similar Listings Container / End -->

            </div>
        </div>
        <!-- Property Description / End -->
        <!-- Sidebar -->
        <div class="col-lg-4 col-md-5 sp-sidebar">
            <div class="sidebar sticky right">







                @*<!-- Widget -->
        <div class="widget">

            <!-- Agent Widget -->
            <div class="agent-widget">


                <input type="text" placeholder="ایمیل"
                       pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                <input type="text" placeholder="شماره تماس">
                <textarea>سلام. من از این ملک خوشم اومد . می خوام اطلاعات بیشتری رو دربارش بدونم.</textarea>
                <button class="button fullwidth margin-top-5">ارسال پیام</button>
            </div>
            <!-- Agent Widget / End -->

        </div>
        <!-- Widget / End -->*@
                <!-- Widget -->
                <div class="widget">
                    <h3 class="margin-bottom-35">خودروهای ویژه</h3>

                    <div class="listing-carousel outer">
                        @foreach (var item in ViewBag.CarList)
                        {
                            <!-- Item -->
                            <div class="item">
                                <div class="listing-item compact">

                                    <a href="single-car.html" class="listing-img-container">

                                        <div class="listing-badges">
                                            @if (item.Special != null)
                                            {
                                                <span class="featured">ویژه</span>
                                            }
                                            @*<span>فروشی</span>*@
                                        </div>

                                        <div class="listing-img-content">
                                            <span class="listing-compact-title">
                                                @item.Brand.Brand
                                                <i>
                                                    @item.Price
                                                    تومان
                                                </i>
                                            </span>

                                            <ul class="listing-hidden-content">
                                                <li>دنده<span>@item.Gear</span></li>
                                                <li>نویگشین <span>@item.Navigation</span></li>
                                                <li>سانروف <span>@item.Sunroof</span></li>
                                            </ul>
                                        </div>

                                        <img src="../../Files/CarsImages/Image/@item.Image" alt="">
                                    </a>

                                </div>
                            </div>
                            <!-- Item / End -->
                        }
                    </div>

                </div>
                <!-- Widget / End -->

            </div>
        </div>
        <!-- Sidebar / End -->

    </div>
</div>
