@model List<SazeNegar.Core.Models.Cars>

<!-- Sidebar -->
<div class="col-lg-4 col-md-4">
    <div class="sidebar sticky right">

        <!-- Widget -->
        <div class="widget margin-bottom-40">
            <h3 class="margin-top-0 margin-bottom-35">یافتن خودروی جدید</h3>




            <!-- Row -->
            <div class="row with-forms">
                <!-- Type -->
                <div class="col-md-12">
                    <select data-placeholder="نوع" class="chosen-select-no-single">
                        <option>نوع</option>
                        <option>نو</option>
                        <option>کارکرده</option>
                        <option>سدان</option>
                        <option>شاسی بلند</option>
                        <option>آفرود</option>
                    </select>
                </div>
            </div>
            <!-- Row / End -->
            <!-- Row -->
            <div class="row with-forms">
                <!-- Type -->
                <div class="col-md-12">
                    <select data-placeholder="برند" class="chosen-select-no-single">
                        <option>همه برندها</option>
                        <option>رنو</option>
                        <option>تویوتا</option>
                        <option>بنز</option>
                        <option>بی ام دبلیو</option>
                        <option>کیا</option>
                    </select>
                </div>
            </div>
            <!-- Row / End -->
            <!-- Min Area -->
            <div class="row with-forms">
                <div class="col-md-6">
                    <!-- Select Input -->
                    <div class="select-input">
                        <input type="text" placeholder="حداقل قیمت" data-unit="تومان">
                        <select>
                            <option>100 میلیون</option>
                            <option>200 میلیون</option>
                            <option>300 میلیون</option>
                            <option>400 میلیون</option>
                            <option>500 میلیون</option>
                        </select>
                    </div>
                    <!-- Select Input / End -->
                </div>

                <!-- Max Area -->
                <div class="col-md-6">
                    <!-- Select Input -->
                    <div class="select-input">
                        <input type="text" placeholder="حداکثر قیمت" data-unit="تومان">
                        <select>
                            <option>100 میلیون</option>
                            <option>200 میلیون</option>
                            <option>300 میلیون</option>
                            <option>400 میلیون</option>
                            <option>500 میلیون</option>
                        </select>
                    </div>
                    <!-- Select Input / End -->
                </div>
            </div>

            <!-- Min Area -->
            <div class="row with-forms">
                <div class="col-md-6">
                    <!-- Select Input -->
                    <div class="select-inpu">
                        <input type="text" placeholder="از سال" data-unit="چهار رقمی">

                    </div>
                    <!-- Select Input / End -->
                </div>

                <!-- Max Area -->
                <div class="col-md-6">
                    <!-- Select Input -->
                    <div class="select-inpu">
                        <input type="text" placeholder="تا سال" data-unit="چهار رقمی">

                    </div>
                    <!-- Select Input / End -->
                </div>
            </div>


            <!-- Row / End -->


            <br>


            <!-- More Search Options -->
            <a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30"
               data-open-title="گزینه های بیشتر" data-close-title="بستن"></a>

            <div class="more-search-options relative">

                <!-- Checkboxes -->
                <div class="checkboxes one-in-row margin-bottom-10">

                    <input id="check-2" type="checkbox" name="check">
                    <label for="check-2">دنده اتوماتیک</label>

                    <input id="check-3" type="checkbox" name="check">
                    <label for="check-3">سانروف</label>

                    <input id="check-4" type="checkbox" name="check">
                    <label for="check-4">دودر</label>

                    <input id="check-5" type="checkbox" name="check">
                    <label for="check-5">نویگیشن</label>




                </div>
                <!-- Checkboxes / End -->

            </div>
            <!-- More Search Options / End -->

            <button class="button fullwidth margin-top-30">جستجو</button>


            <!-- </div> -->
            <!-- Widget / End -->
            <!-- Widget -->
            <div class="widget margin-top-55">
                <h3 class="margin-bottom-35">خودرو های ویژه</h3>

                <div class="listing-carousel outer">
                    @foreach (var item in Model)
                    {
                        <!-- Item -->
                        <div class="item">
                            <div class="listing-item compact">

                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        @if (item.Special != null)
                                        {
                                            <span class="featured">ویژه</span>
                                        }
                                        @*<span>فروشی</span>*@
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-compact-title">
                                            @item.Brand.Brand
                                            <i>
                                                @item.Price
                                                تومان
                                            </i>
                                        </span>

                                        <ul class="listing-hidden-content">
                                            <li>دنده<span>@item.Gear</span></li>
                                            <li>نویگشین <span>@item.Navigation</span></li>
                                            <li>سانروف <span>@item.Sunroof</span></li>
                                        </ul>
                                    </div>

                                    <img src="../../Files/CarsImages/Image/@item.Image" alt="">
                                </a>

                            </div>
                        </div>
                        <!-- Item / End -->
                    }
                </div>

            </div>
            <!-- Widget / End -->


        </div>
    </div>
</div>
<!-- Sidebar / End -->