@model List<SazeNegar.Web.ViewModels.ArticleListViewModel>

<div class="col-md-8">

    @foreach (var item in Model)
    {

        <!-- Blog Post -->
        <div class="blog-post">

            <!-- Img -->
            <a href="/Blog/Details/@item.Id" class="post-img">
                <img src="~/Files/ArticleImages/Image/@item.Image" alt="">
            </a>

            <!-- Content -->
            <div class="post-content">
                <h3><a href="/Blog/Details/@item.Id">@item.Title</a></h3>

                <ul class="post-meta">
                    <li>@item.PersianDate</li>
                    <li>@{ var x = (item.Article.ArticleComments != null) ? item.Article.ArticleComments.Count : 0;} دیدگاه</li>
                </ul>

                <p>
                    @item.ShortDescription
                </p>

                <a href="/Blog/Details/@item.Id" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
            </div>

        </div>
        <!-- Blog Post / End -->
    }

    <!-- Pagination -->
    <div class="clearfix"></div>
    <div class="pagination-container">
        <nav class="pagination">
            <ul>
                @{
                    if (ViewBag.CurrentPage < ViewBag.PageCount)
                    {
                        <li><a href="/Blog?pageNumber=@(ViewBag.CurrentPage+1)@(ViewBag.CategoryId != null? $"&category={ViewBag.CategoryId}":null)@(ViewBag.SearchString != null? $"&searchString={ViewBag.SearchString}":null)" class="next">بعدی</a></li>
                    }
                    for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li class="@(i == ViewBag.CurrentPage ? "active" : null)"><a href="/Blog?pageNumber=@i@(ViewBag.CategoryId != null ? $"&category={ViewBag.CategoryId}" : null)@(ViewBag.SearchString != null ? $"&searchString={ViewBag.SearchString}" : null)">@i</a></li>
                    }
                    if (ViewBag.CurrentPage > 1)
                    {
                        <li>
                            <a href="/Blog?pageNumber=@(ViewBag.CurrentPage - 1)@(ViewBag.CategoryId != null ? $"&category={ViewBag.CategoryId}" : null)@(ViewBag.SearchString != null ? $"&searchString={ViewBag.SearchString}" : null)" class="prev">
                                قبلی
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>


    </div>
    <div class="clearfix"></div>

</div>
