@*@model List<SazeNegar.Web.ViewModels.ArticleListViewModel>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div class="page-content bg-white">
    <!-- Page Heading Box ==== -->
    <div class="page-banner page-banner-sm">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-black">بلاگ</h1>
                <div class="breadcrumb-row text-black">
                    <ul class="list-inline">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> خانه </a></li>
                        <li>بلاگ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->
    <!-- Main Slider -->
    <div class="content-block" id="content-area">
        <!-- Popular Courses -->
        <div class="section-area section-sp2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8 col-xl-8 m-md-b50">
                        @foreach (var item in Model)
                        {
                            <div class="recent-news wow fadeInUp" data-wow-delay="0.2s">
                                <div class="action-box">
                                    <img src="/Files/ArticleImages/Image/@item.Image" alt="">
                                </div>
                                <div class="info-bx">
                                    <ul class="media-post">
                                        <li class="date"><a href="javascript:;"><i class="fa fa-calendar-o"></i>@item.PersianDate</a></li>
                                    </ul>
                                    <h4 class="post-title"><a href="/Blog/Details">@item.Title</a></h4>
                                    <p>
                                        @item.ShortDescription
                                    </p>
                                    <div class="post-extra">
                                        <a href="/Blog/Details/@item.Id" class="btn-link black radius-xl">بیشتر بخوانید</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pagination-bx gray clearfix">
                            <ul class="pagination">
                                @{
                                    if (ViewBag.CurrentPage > 1)
                                    {
                                        <li class="previous">
                                            <a href="/Blog?pageNumber=@(ViewBag.CurrentPage - 1)@(ViewBag.CategoryId != null ? $"&category={ViewBag.CategoryId}" : null)@(ViewBag.SearchString != null ? $"&searchString={ViewBag.SearchString}" : null)">
                                                قبلی
                                            </a>
                                        </li>
                                    }
                                    for (int i = 1; i <= ViewBag.PageCount; i++)
                                    {
                                        <li class="@(i == ViewBag.CurrentPage ? "active" : null)"><a href="/Blog?pageNumber=@i@(ViewBag.CategoryId != null ? $"&category={ViewBag.CategoryId}" : null)@(ViewBag.SearchString != null ? $"&searchString={ViewBag.SearchString}" : null)">@i</a></li>
                                    }
                                    if (ViewBag.CurrentPage < ViewBag.PageCount)
                                    {
                                        <li class="next"><a href="/Blog?pageNumber=@(ViewBag.CurrentPage+1)@(ViewBag.CategoryId != null? $"&category={ViewBag.CategoryId}":null)@(ViewBag.SearchString != null? $"&searchString={ViewBag.SearchString}":null)">بعدی</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-4  sticky-top wow fadeInUp" data-wow-delay="0.4s">
                        <aside class="side-bar sticky-top aside-bx">
                            <div class="widget">
                                <div class="search-bx style-1">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="اینجا جستجو کنید" type="text">
                                            <span class="input-group-btn">
                                                <button type="submit" class="fa fa-search text-primary"></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @Html.Action("TopArticlesSection", "Blog")
                            @*<div class="widget widget_gallery gallery-grid-3">
                                    <h6 class="widget-title">گالری ما</h6>
                                    <ul>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic1.jpg" alt=""></a></div>
                                        </li>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic2.jpg" alt=""></a></div>
                                        </li>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic3.jpg" alt=""></a></div>
                                        </li>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic4.jpg" alt=""></a></div>
                                        </li>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic5.jpg" alt=""></a></div>
                                        </li>
                                        <li>
                                            <div><a href="javascript:;"><img src="~/Content/client/images/gallery/pic6.jpg" alt=""></a></div>
                                        </li>
                                    </ul>
                                </div>*@
                            @Html.Action("ArticleTags", "Blog")
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->